.modalContainer {
  background-color: #00000080;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  transition: "150ms ease-in-out";
}

.modal {
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  height: max-content;
  width: max-content;
  padding: 16px;
}

@keyframes slideIn {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease forwards;
}
